body { overflow-y: scroll }
/* Put your CSS here */
.ember-application {
    margin: 20px;
}

.me .page-header {
    margin-top: 0px;
    margin-bottom: 5px;
}

.me .page-header h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.btn {
    margin-bottom: 2px;
    margin-top: 2px;
}

.bs-title {
    padding-bottom: 5px;
    border-bottom: 2px solid #eee;
}

/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

nav {
  margin-bottom:5px;
}

nav>a {
  font-size: 1.2em;
  display: block;
  white-space: nowrap;
}

#small_main a {
  display: inline;
  margin-right:5px;
}

.active {
  font-weight: 700;
}

img[alt=me] {
  float: right;
  border-radius: 6px;
  margin: 4px;
  max-width: 100%;
  height: auto;
}

.page-header {
  margin: 5px 0 5px;
}

.page-header>h1 {
  margin-top: 0px;
}
